@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --blue: #005296;
    --mediumblue: #18a8fb;
    --lightBlue: #BFD3E4;
    --yellow: #F7C200;
    --white: #ffffff;
    --black: #000000;
    --gray: #C4C4C4;
    --purple: #3F148D;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style: none;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: 0.25s;
    scroll-behavior: smooth;
}

section {
    background-color: var(--blue);
}

section > div {
    max-width: 1440px;
    margin: auto;
    padding: 96px 135px 96px 135px;
}

section > div > h2 {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 16px;
    color: var(--yellow);
}

section > div > h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 16px;
    color: var(--white);
}



main {
    max-width: 1440px;
    margin: auto;
    padding: 96px 135px 16px 135px;
}

main > div {
    display: flex;
    width: 100%;
    gap: 0 32px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: 1px solid var(--gray);
}

main > div > img {
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

main > div > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > div > div > div > a {
    color: var(--yellow);
    /* text-decoration: underline; */
}

main > div > div > div > a > h3 {
    color: var(--blue);
    font-size: 2.25rem;
    margin-bottom: 8px;
}

main > div > div > div > p:first-of-type {
    font-size: 0.875rem;
    margin-bottom: 16px;
}

main > div > div > div > p:last-of-type {
    color: var(--gray);
    font-size: 0.75rem;
    margin-bottom: 16px;
}

main > div > div > a {
    color: var(--yellow);
    text-decoration: underline;
}

@media (max-width: 1024px) {
    section > div {
        padding: 48px 24px 48px 24px;
    }

    main {
        padding: 48px 24px 16px 24px;
    }
}

@media (max-width: 767px) {
    main > div {
        flex-direction: column;
    }

    main > div > img {
        width: 100%;
        margin-bottom: 32px;
    }
}